@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@700&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
body{
    background-color: #261B26;
}
.card{  
    color: white;
    height: 400px;
    width: 250px;
    border: 1px #7460BF solid;
    background: #F2D5F2;
}
#sec{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        position: relative;
        top: 50px;
}
.box{
    width: 100%;
    height: 80px;
    background-color: #7460BF;
}
.time{
    font-size: 40px;
    color: #574F73;
    
}